.root {
  --content-span: 6;
  --content-start: 1;
  --images-span: 6;
  --images-start: 7;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-internal-section-gap);
  padding-bottom: var(--spacing-internal-section-gap);
  padding-inline-start: var(--spacing-column-gap);
  gap: var(--spacing-l);
}

.images {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

@media (--md) {
  .content {
    grid-column: var(--content-start) / span var(--content-span);
  }

  .images {
    display: grid;
    grid-column: var(--images-start) / span var(--images-span);
    grid-template-columns: subgrid;
  }

  .root[data-variant="two-thirds"] {
    --content-span: 8;
    --content-start: 1;
    --images-span: 4;
    --images-start: 9;
  }

  .root[data-direction="right-to-left"] {
    --content-start: 7;
    --images-start: 1;
  }

  .root[data-direction="right-to-left"][data-variant="two-thirds"] {
    --content-start: 5;
    --images-start: 1;
  }

  .root[data-direction="right-to-left"] .images {
    order: 1;
  }

  .root[data-direction="right-to-left"] .content {
    order: 2;
  }

  .images:has(> :nth-child(2):last-child) .imageWrapper {
    grid-column: span 3;
  }

  .root[data-variant="two-thirds"]
    .images:has(> :nth-child(2):last-child)
    .imageWrapper {
    grid-column: span 2;
  }

  .images:has(> :nth-child(1):last-child) > * {
    grid-column: span 6;
  }
}

@media (--lg) {
  .twoParagraphs {
    columns: 2;
  }
}
