.head {
  display: none;
}

.entry:hover,
.entry:focus-visible {
  color: var(--color-text-accent);
}

.entry > *,
.mobileHead > * {
  padding-block: var(--spacing-l);
}

.head > * {
  display: flex;
  align-items: center;
}

.mobileHead {
  z-index: var(--z-index-over-content);
}

.yearsSelector {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.yearsSelector > button {
  flex: 1;
}

.thumbnail figure img {
  aspect-ratio: var(--aspect-wide);
  object-fit: cover;
}

.thumbnail > div {
  aspect-ratio: var(--aspect-wide);
}

.year {
  display: flex;
  padding-block: 0;
}

.year > * {
  margin-top: calc(-1 * var(--divider-size));
  margin-bottom: calc(-1 * var(--divider-size));
}

.name,
.project {
  font-weight: var(--font-weight-bold);
}

.entry > *:nth-child(2) {
  order: 3;
}

.entry > *:nth-child(3) {
  order: 2;
}

.entry > *:nth-child(4) {
  order: 4;
}

.entry > *:nth-child(1)::before,
.entry > *:nth-child(1)::after,
.entry > *:nth-child(3)::before,
.entry > *:nth-child(3)::after {
  display: none;
}

@media (--md) {
  .mobileHead {
    display: none;
  }

  .head {
    display: grid;
    z-index: var(--z-index-over-content);
  }

  .entry > *:nth-child(2),
  .entry > *:nth-child(3),
  .entry > *:nth-child(4) {
    order: 0;
  }

  .entry > *::before,
  .entry > *::after {
    display: block;
  }
}
