.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-l);
  padding-block: var(--spacing-l);
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: var(--spacing-s);
  list-style: none;
}

.list [data-active] > a {
  background: var(--color-bg-accent);
  color: var(--color-text-on-accent);
}

.list a:hover {
  color: var(--color-text-secondary);
}

.list li > [data-size="small"] {
  font-size: var(--text-size-body-xs);
}

.search {
  order: 1;
  width: 100%;
  white-space: nowrap;
}

.search > :last-child {
  flex: 1;
}

@media (--sm) {
  .list li > [data-size="small"] {
    font-size: var(--text-size-body-2xs);
  }

  .search {
    order: 0;
    width: auto;
    margin-left: auto;
  }

  .search > :last-child {
    flex: initial;
  }
}
