.button {
  --bg-color: var(--color-bg-accent);
  --text-color: var(--color-text-on-accent);
  --intersection-size: 8px;
  --hover-expand: var(--intersection-size);

  display: inline-block;
  position: relative;
  width: calc(100% - var(--intersection-size) * 2);
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  font-weight: var(--font-weight-bold);
}

.button .labelWrapper {
  padding: 12px 22px;
  transition: padding 150ms ease;
}

.button[data-variant="secondary"] {
  --bg-color: var(--color-bg-primary);
  --text-color: var(--color-text-on-primary);
}

.button[data-variant="tertiary"] {
  --bg-color: var(--color-bg-secondary);
  --text-color: var(--color-text-primary);
}

.button[data-variant="accent"] {
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
}

.button[data-variant="accent"]::before,
.button[data-variant="accent"]::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--intersection-size);
  background-image:
    linear-gradient(var(--bg-color), var(--bg-color)),
    linear-gradient(var(--bg-color), var(--bg-color));
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: var(--intersection-size) 100%;
}

.button[data-variant="accent"] .labelWrapper {
  margin: 0 var(--intersection-size);
  transition:
    margin 150ms ease,
    padding 150ms ease;
  background-color: var(--bg-color);
}

.button[data-variant="primary"]::before,
.button[data-variant="secondary"]::before,
.button[data-variant="tertiary"]::before,
.button[data-variant="primary"]::after,
.button[data-variant="secondary"]::after,
.button[data-variant="tertiary"]::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 100%;
  transition: width 150ms ease;
  background-color: var(--bg-color);
}

.button[data-variant="primary"]::after,
.button[data-variant="secondary"]::after,
.button[data-variant="tertiary"]::after {
  right: auto;
  left: 100%;
}

.button:hover {
  cursor: pointer;
}

.button[data-variant="primary"]:hover::before,
.button[data-variant="secondary"]:hover::before,
.button[data-variant="tertiary"]:hover::before,
.button[data-variant="primary"]:hover::after,
.button[data-variant="secondary"]:hover::after,
.button[data-variant="tertiary"]:hover::after {
  width: var(--hover-expand);
}

.button[data-variant="accent"]:hover .labelWrapper {
  margin: 0;
  padding: 12px calc(22px + var(--hover-expand));
}

.button:active {
  opacity: 0.8;
}

.button:disabled {
  filter: saturate(0);
}

@media (--sm) {
  .button,
  .button[data-variant="accent"] {
    width: auto;
  }
}
