.fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-column-gap);
}

.root button {
  width: 100%;
}

@media (--sm) {
  .fields {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .root button {
    width: auto;
  }
}
