/**
 * This file contains any hand written text styles
 * that combine more than one CSS property. 
 *
 * Wrapping them all in :where lowers their specificity, making
 * sure they get easily overwritten if needed.
 */

/* Headings */

:where(.heading-xl) {
  font-family: var(--font-family-heading);
  font-size: var(--text-size-5xl);
  line-height: var(--leading-loose);
}

:where(.heading-l) {
  font-family: var(--font-family-heading);
  font-size: var(--text-size-4xl);
  line-height: var(--leading-normal);
}

:where(.heading-m) {
  font-family: var(--font-family-heading);
  font-size: var(--text-size-3xl);
  line-height: var(--leading-normal);
}

:where(.heading-s) {
  font-family: var(--font-family-heading);
  font-size: var(--text-size-2xl);
  line-height: var(--leading-normal);
}

:where(.heading-xs) {
  font-family: var(--font-family-heading);
  font-size: var(--text-size-xl);
  line-height: var(--leading-normal);
}

:where(.heading-2xs) {
  font-family: var(--font-family-heading);
  font-size: var(--text-size-l);
  line-height: var(--leading-normal);
}

/* Body */

:where(.body-xl) {
  font-family: var(--font-family-body);
  font-size: var(--text-size-xl);
  line-height: var(--leading-loose);
}

:where(.body-l) {
  font-family: var(--font-family-body);
  font-size: var(--text-size-l);
  line-height: var(--leading-loose);
}

:where(.body-m) {
  font-family: var(--font-family-body);
  font-size: var(--text-size-m);
  line-height: var(--leading-loose);
}

:where(.body-s) {
  font-family: var(--font-family-body);
  font-size: var(--text-size-s);
  line-height: var(--leading-loose);
}

:where(.body-xs) {
  font-family: var(--font-family-body);
  font-size: var(--text-size-xs);
  line-height: var(--leading-loose);
}

:where(.body-2xs) {
  font-family: var(--font-family-body);
  font-size: var(--text-size-2xs);
  line-height: var(--leading-loose);
}
