.header {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-l);
  background: var(--color-bg-default);
  gap: var(--spacing-m);
}

.link {
  color: var(--color-text-accent);
  text-decoration: none;
}
