.root {
  --lead-gradient-height: 252px;
  --top-gradient-height: 80px;

  row-gap: var(--spacing-2xl);
}

.row {
  padding-top: var(--spacing-2xl);
  row-gap: var(--spacing-2xl);
}

.root [data-filled] {
  align-self: start;
  height: var(--lead-gradient-height);
}

.statement {
  gap: var(--spacing-s);
}

@media (--md) {
  .root {
    row-gap: var(--spacing-l);
  }

  .row {
    padding-top: 0;
    row-gap: var(--spacing-l);
  }

  .statement {
    padding-top: calc(var(--top-gradient-height) + var(--spacing-column-gap));
    background-image: linear-gradient(
      to bottom,
      var(--color-bg-secondary),
      transparent
    );
    background-repeat: no-repeat;
    background-size: calc((100% - var(--spacing-column-gap) * 2) / 3)
      var(--top-gradient-height);
  }
}
