/* Inset */

.root {
  --divider-height: var(--thread-height-xs);
}

.root[data-divider-size="s"] {
  --divider-height: var(--thread-height-s);
}

.root[data-divider-size="m"] {
  --divider-height: var(--thread-height-m);
}

.root[data-divider-size="l"] {
  --divider-height: var(--thread-height-l);
}

.content[data-inset] {
  margin-top: calc(var(--divider-height) * -1);
}

/* Spacings */

.root[data-spacing="xs"] {
  margin-top: var(--spacing-xs);
}

.root[data-spacing="s"] {
  margin-top: var(--spacing-s);
}

.root[data-spacing="m"] {
  margin-top: var(--spacing-m);
}

.root[data-spacing="l"] {
  margin-top: var(--spacing-l);
}

.root[data-spacing="xl"] {
  margin-top: var(--spacing-xl);
}

.root[data-spacing="2xl"] {
  margin-top: var(--spacing-2xl);
}

.root[data-spacing="3xl"] {
  margin-top: var(--spacing-3xl);
}

.root[data-spacing="4xl"] {
  margin-top: var(--spacing-4xl);
}

.root[data-spacing="5xl"] {
  margin-top: var(--spacing-5xl);
}

.root[data-spacing="6xl"] {
  margin-top: var(--spacing-6xl);
}

.intro {
  margin-bottom: var(--spacing-internal-section-gap);
}

@media (--md) {
  .introText {
    padding-inline-start: var(--spacing-column-gap);
  }
}
