.quoteWrapper {
  margin-top: calc(-1 * var(--thread-height-xs));
  padding: var(--spacing-internal-section-gap);
  background-color: var(--color-bg-secondary);
  text-align: center;
}

.quoteWrapper[data-variant="hero"] {
  background-color: var(--color-bg-primary);
  color: var(--color-text-on-primary);
}

.blockQuote {
  display: inline;
}

.quoteMarks > p:first-child::before {
  content: "“";
  display: inline;
  position: relative;
}

.quoteMarks > p:last-child::after {
  content: "”";
  display: inline;
  position: relative;
}

.author {
  display: block;
  margin-top: var(--spacing-l);
}

.cite {
  font-style: normal;
}

.gradients {
  --gradient-height: var(--spacing-section-gap);

  display: none;
  transform: scaleY(-1) translateY(calc(-1 * var(--thread-height-xs)));
}

.gradients > * {
  height: var(--gradient-height);
}

@media (--md) {
  .gradients {
    display: grid;
  }
}
