---
import type { Page } from "../schemas/pages.ts";
import { blockComponents } from "../blocks/index.ts";

interface Props {
  page: Page;
  baseHref?: string;
}

const { page, baseHref } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {baseHref && <base href={baseHref} />}
    <title>{page.title}</title>
  </head>
  <body>
    {
      page.blocks.map((block) => {
        const Block = blockComponents[block.type] as (props: typeof block) => unknown;
        return Block ? <Block {...block} /> : null;
      })
    }
  </body>
</html>
