.root {
  gap: var(--spacing-m);
}

.root[data-size="small"] {
  gap: var(--spacing-s);
}

.inputWrapper {
  flex-wrap: wrap;
}

.inputWrapper button {
  width: 100%;
}

@media (--sm) {
  .inputWrapper {
    flex-wrap: nowrap;
  }

  .inputWrapper button {
    flex-wrap: nowrap;
    width: auto;
  }
}
