.root {
  gap: var(--spacing-xs);
}

.root[data-size="small"] {
  gap: var(--spacing-s);
}

.root input {
  padding: var(--spacing-m) var(--spacing-l);
  background-color: var(--color-bg-field);
}

.root[data-size="small"] input {
  padding: var(--spacing-s) var(--spacing-m);
}
