.item {
  display: flex;
  background-color: var(--color-bg-secondary);
}

.inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-internal-section-gap);
  padding: var(--spacing-internal-section-gap);
}

.root[data-media-position="image-on-top"] .media {
  order: -1;
}
