.root img {
  display: block;
  width: 100%;
  height: auto;
}

.root figcaption {
  margin-top: var(--spacing-s);
  color: var(--color-text-secondary);
  font-size: var(--text-size-body-xs);
  line-height: var(--leading-tight);
}

.root[data-caption-size="s"] figcaption {
  font-size: var(--text-size-body-s);
}

.root[data-caption-size="2xs"] figcaption {
  font-size: var(--text-size-body-2xs);
}
