.heading {
  color: var(--color-text-on-primary);
  background-color: var(--color-bg-primary);
  padding: var(--spacing-internal-section-gap) var(--spacing-column-gap);
}

.numbers {
  align-items: stretch;
}

.numberWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 12;
  padding: var(--spacing-internal-section-gap) var(--spacing-l);
  background-color: var(--color-bg-default);
  z-index: var(--z-index-over-divider);
  position: relative;
}

.numberWrapper > * {
  text-align: center;
}

.divider {
}

@media (--sm) {
  .numberWrapper[data-n="3"] {
    grid-column: span 4;
  }

  .numberWrapper[data-n="4"] {
    grid-column: span 6;
  }

  .numberWrapper[data-n="6"] {
    grid-column: span 3;
  }
}

@media (--lg) {
  .numberWrapper[data-n="3"] {
    grid-column: span 4;
  }

  .numberWrapper[data-n="4"] {
    grid-column: span 3;
  }

  .numberWrapper[data-n="6"] {
    grid-column: span 2;
  }
  .numberWrapper[data-n="6"] .description {
    grid-column: span 2;
  }
}
