.row {
  margin-top: calc(var(--divider-height) * -1);
}

@media (--sm) {
  .row > * {
    order: var(--slot-order, 0);
  }
}

@media (--md) {
  .row > * {
    order: 0;
  }
}

a:hover .title,
a:focus-visible .title {
  color: var(--color-text-accent);
}

.photo figure img {
  aspect-ratio: var(--aspect-wide);
  object-fit: cover;
}

.text,
.tags {
  gap: var(--spacing-xs);
}
